:root {
  /* Radius*/
  --Radius_SM: 4px;
  --Radius_LG: 8px;
  --Radius_XL: 16px;

  /*CoolGray*/
  --CoolGray050: #fafafa;
  --CoolGray100: #f5f5f5;
  --CoolGray200: #eeeeee;
  --CoolGray300: #e0e0e0;
  --CoolGray400: #bdbdbd;
  --CoolGray500: #9e9e9e;
  --CoolGray600: #757575;
  --CoolGray700: #616161;

  /*primary*/
  --Function-Primary-50: #e0f4ff;
  --Function-Primary-100: #b1e4ff;
  --Function-Primary-200: #7cd2ff;
  --Function-Primary-300: #43c0ff;
  --Function-Primary-400: #00b1ff;
  --Function-Primary-500: #00a5fd;
  --Function-Primary-600: #0097ee;
  --Function-Primary-700: #0084d9;
  --Function-Primary-800: #0073c5;
  --Function-Primary-900: #0152a2;
  --Function-Primary: #00b1ff;

  /* secondary */
  --Function-Secondary-50: #ddf7f6;
  --Function-Secondary-100: #a9eae7;
  --Function-Secondary-200: #6dddda;
  --Function-Secondary-300: #00cece;
  --Function-Secondary-400: #00c4c7;
  --Function-Secondary-500: #00b9c1;
  --Function-Secondary-600: #00a9af;
  --Function-Secondary-700: #009496;
  --Function-Secondary-800: #00807f;
  --Function-Secondary-900: #005c55;
  --Function-Secondary: #00cece;

  /* info */
  --Function-info-50: #e0f4ff;
  --Function-info-500: #00b1ff;
  --Function-info-700: #0084d9;
  --Function-info: #00b1ff;

  /* success */
  --Function-Success-50: #e5f5ed;
  --Function-Success-400: #45b889;
  --Function-Success-700: #008a5c;
  --Function-Success: #45b889;

  /* warning */
  --Function-Warning-50: #fff3e1;
  --Function-Warning-300: #ffb855;
  --Function-Warning-500: #ff8e1c;
  --Function-Warning: #ffb855;

  /* error */
  --Function-Error-50: #fff3f4;
  --Function-Error-300: #ff6560;
  --Function-Error-400: #ee2c23;
}
