:root {
  /* Radius*/
  --Radius_SM: 4px;
  --Radius_LG: 8px;
  --Radius_XL: 16px;

  --TrueGray-White: #ffffff;
  --TrueGray-Black: #000000;

  /*TrueGray*/
  --TrueGray-Gray025: #fbfbfb;
  --TrueGray-Gray050: #f7f7f7;
  --TrueGray-Gray100: #f0f0f0;
  --TrueGray-Gray200: #e1e1e1;
  --TrueGray-Gray300: #d1d1d1;
  --TrueGray-Gray400: #c2c2c2;
  --TrueGray-Gray500: #b3b3b3;
  --TrueGray-Gray600: #8f8f8f;
  --TrueGray-Gray700: #6b6b6b;
  --TrueGray-Gray800: #484848;
  --TrueGray-Gray900: #242424;

  /*CoolGray*/
  --CoolGray-CoolGray025: #f9fafb;
  --CoolGray-CoolGray050: #f3f5f7;
  --CoolGray-CoolGray100: #e6eaec;
  --CoolGray-CoolGray200: #ccd4db;
  --CoolGray-CoolGray300: #b4bfc8;
  --CoolGray-CoolGray400: #9aa9b7;
  --CoolGray-CoolGray500: #8094a4;
  --CoolGray-CoolGray600: #677683;
  --CoolGray-CoolGray700: #4e5962;
  --CoolGray-CoolGray800: #2d3e4f;
  --CoolGray-CoolGray900: #1a1e20;

  /*Primary*/
  --Function-Mint_Background: #f3fbfa;
  --Function-Mint_Lighter: #afe9e1;
  --Function-Mint_Light: #78ded5;
  --Function-Mint_Default: #1abcb7;
  --Function-Mint_Dark: #0f7675;

  /*Secondary*/
  --Function-Blue_Background: #f6fbfe;
  --Function-Blue_Lighter: #99d7f2;
  --Function-Blue_Light: #66c2eb;
  --Function-Blue_Default: #009ade;
  --Function-Blue_Dark: #315995;

  /*Danger*/
  --Function-Red_Default: #f15050;

  /*Orange*/
  --Function-Orange_Lighter: #fbe1d0;

  /*Green */
  --Function-Green_Default: #49c834;
  --Function-Green_Dark: #109138;
  --Function-Green_Lighter: #d7f4e3;
}
